body{
	background-color: #C0C0C0;
}

h1, h2, h3, h4, h5, h6{
	color: #000000;
	font-family: Lato;
	/*font-size: 25px;*/
	font-style: normal;
}

p{
	color: #000000;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
}

ol, ul{
	color: #000000;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
}

.container{
	max-width: 1200px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.content{
	float: left;
	width:80%;
	position: relative;
	height: auto;
}

.topnav{
	width: 100%;
	height: auto;
	position: static;
	text-align: center;
	background-color: #333;
	overflow: hidden;
}

.topnav a {
  /*float: initial;*/
  color: #f2f2f2;
  font-family: Lato;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

.footer{
	width: 100%;
	height: auto;
	position: static;
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	background-color: #333;
	overflow: hidden;
}
